/******************************************************************
Site Name: Lisa Blunt Democrat for Congress
Author: Lucian Tucker

******************************************************************/

html {
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

/* ==============
    MOBILE: Main
   ============== */
.content {
    width: 90%;
    margin: 0 5%;
}

.main {
    padding: 0px 0;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*    TYPOGRAPHY
/*--------------------------------------*/

html {
    font: 16px/26px Lora, Georgia, Times, Times New Roman, serif;
    color: #464646;
}
h1, h2, h3, h4, h5, h6, 
nav a, .btn, a.read-more, 
.twitter {
	font-family: 'Fira Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	color: #013e68;
	margin-top: 0;
}
h1, .home h2 {
	font-size: 2.25rem;
	font-weight: 700;
}
.home .news h2 {
	margin-bottom: 0;
}
.home .news a h3 {
	color: #0275ae;
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: 500;
	font-size: 1.3rem;
}

/* Links */
a {
	text-decoration: underline;
	color: #38a6e8;
	font-weight: 500;
}
a.btn {
	background-color: #38a6e8;
	border-radius: 5px;
	border: 2px solid #359cd9;
	padding: 7px 22px;
	margin-top: 15px;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1rem;
	display: inline-block;
	text-decoration: none;
}
a.read-more {
	display: inline-block;
}
.twitter .tweet a {
	font-weight: normal;
}

/*    MAIN CONTENT
/*--------------------------------------*/

/* Header */
.header-container {
	background: #38a6e8;
	border-bottom: 2px solid #9acdec;
}
header {
	max-width: 1020px;
	margin: 0 auto;
	padding: 0;
}
header h1 {
	margin: 10px 0;
	float: left;
}
nav.main  {
    float: right;
    min-width: 700px;
    margin-top: 10px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
}
nav.main a {
    padding: 15px 0;
    text-decoration: none;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    margin: 0 1.7%;
    padding: 10px 2%;
    display: inline;
}
nav.main a:hover,
nav.main a:visited {
    color: white;
}
nav.main a:hover {
    text-decoration: underline;
}
nav.main li:first-child a {
    margin-left: 0;
}
nav.main li:last-child a {
    margin-right: 0;
    background-color: #f65151;
    border-radius: 5px;
    border: 2px solid #f43d3d;
    padding: 7px 22px;
}
nav.social {
	float: right;
	width: 200px;
	padding: 0;
	margin-top: 25px;
}
nav.social a  {
	margin: 0 5px;
	display: inline;
}
nav.social li:last-child a {
	margin-right: 0;
}

/* Footer */
.footer-container {
	background-color: #0e75b0;
}

/* Homepage */
.home section {
	width: 100%;
	float: left;
	clear: both;
	padding: 100px 0;
}
.home section.about {
	background: url('../img/stock-photo-city.jpg') no-repeat left top;
	background-size: cover;
}
.home section.about article.content {
	padding: 5%;
	width: 80%;
	background: white;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
}
.home section.about article.content p {
	font-size: 1.12rem;
	line-height: 24px;
}
.home section.about article.content img {
	margin-left: 40px;
}
.home section.feeds {
	background: linear-gradient(to right, #ffffff 0%,#ffffff 59.5%,#dcf0fb 60%,#dcf0fb 60%,#eff8fd 60%,#eff8fd 100%);
}
.home section.feeds .news {
	width: 60%;
	max-width: 600px;
	float: left;
	clear: left;
}
.home .news article {
	font-size: 1.12rem;
}
.home .news ul {
	margin: 0 0 15px 0;
	padding: 0;
}
.home .news li {
	list-style: none;
	border-bottom: 1px solid #e5e5e5;
	padding: 30px 0;
}
.home .news article p {
	display: inline;
}
.home section.feeds aside {
	width: 30%;
	padding: 0px 5% 10px;
	float: right;
	clear: right;
}
.home .twitter {
	margin-bottom: 50px;
}
.home .twitter a.handle {
	font-size: 1.12rem;
	font-weight: 700;
	font-style: italic;
	text-decoration: none;
	color: #0275ae;
}
.home .twitter .tweet {
	border-left: 5px solid #0275ae;
	padding-left: 20px;
	font-size: 21px;
}
.home .twitter .tweet .date {
	font: italic .87rem Lora, Georgia, Times, Times New Roman, serif;
	font-size: 14px;
	color: #9d9d9d;	
}
.home .support p {
	font-size: 1.12rem;
}
.home .support ul {
	margin: 0 0 0 -7px;
	padding: 0;
}
.home .support li {
	list-style: none;
	padding: 7px;
	display: inline-block;
}
.home .support img {
	border-radius: 5px;
}
.home .support a.btn {
	background-color: #013e68;
	border: 2px solid #002e4d;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
	
    

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {


/* ============
    WIDE: Main
   ============ */

    
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

   
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
.left {
	float: left;
	clear: left;
}
.right {
	float: right;
	clear: right;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}